.example-full-width {
    width: 50%;

}

/*-----------------------------------------------------------
|||||||||||||||||||||||||||For Appearance (Outline)
-----------------------------------------------------------*/

// Change Mat-Input Color & Background & Font-Size on Focus
::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: orangered !important;
    background-color: yellow;
    font-size: 14px;
    padding: 0 10px;
}

// Change Mat-input Floating-Label Byefault Color
::ng-deep .mdc-text-field:not(.mdc-text-field-disabled) .mdc-floating-label {
    color: rgb(3, 110, 110) !important;
}

// Change Label Font Position
::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 10px !important;
    left: 0;
    font-size: 12px !important;
}

// Change Label Color, Background & Font-Size When Focus After Change Label Position
::ng-deep .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: rgb(255, 255, 255) !important;
    top: 28px !important;
    position: relative !important;
    font-weight: 300 !important;
    background-color: rgb(0, 182, 182) !important;
    --mat-mdc-form-field-floating-label-scale: .9;
}

// Change Mat-Input Value Color
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgb(238, 0, 198) !important;
}

//Change Mat-Input Placeholder Color
::ng-deep .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
    color: rgb(241, 117, 0) !important; 
    font-size: 12px;
}

// Change Caret Color on Focus
::ng-deep .mdc-text-field .mdc-text-field__input {
    caret-color: rgb(0, 182,186) !important;
}

// Change Mat-Input Border Color & width
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled) .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled) .mdc-notched-outline__trailing {
    border-color: rgb(255, 81, 0) !important;
    border-width: 2px !important;
}

//Hover to Change Outline Color Same as Border Color in Mat-Input
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgb(0, 182, 182) !important;
}

//Focus To Change Border Color in Mat-Input
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--diabled).mdc-text-field--focused .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: green !important;    
    border-width: 3px !important;
}

//Change Mat-Form-Field Input Height
::ng-deep .mat-mdc-text-field-wrapper {
    height: 50px !important;
    background-color: green;
}

//Change Mat-Form-Field Inside Input with Text Position
::ng-deep .mat-mdc-input-element { //Muda a posição do text que voce está inserindo no campo
    top: -10px !important;
    position: relative !important;
}

::ng-deep .mdc-checkbox {
    .mdc-checkbox__background { //dasmarcado
        border-color: #4f0;
        background-color: #f00;
        transition: all 0.3s ease;
    }


    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background { //marcado
        border-color: black;
        background-color: orange;
        --mdc-checkbox-selected-checkmark-color: #2c00ff; //icone marcador quando acontece tal ação
    }

    .mdc-checkbox__native-control:focus:focus:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:focus:focus:not(:indeterminate) ~ .mdc-checkbox__background {
        background-color: aqua;
        border-color: pink;
        --mdc-checkbox-selected-checkmark-color: green; //icone marcador quando acontece tal ação
    }

    .mdc-checkbox__checkmark {
        color: white; //cor do marcador sempre, esse sobrepoẽ todos
    }
}

::ng-deep .mdc-checkbox:hover .mdc-checkbox__native-control:not(:checked) ~ .mdc-checkbox__background, 
::ng-deep .mdc-checkbox:hover .mdc-checkbox__native-control:not(:indeterminate) ~ .mdc-checkbox__background { 
    border-color: pink !important;
    background-color: gray !important; // efeito de hover quando o checkbox ta desativado
}

::ng-deep .mdc-checkbox:hover .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background,
::ng-deep .mdc-checkbox:hover .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background {
    border-color: red !important;
    background-color: black !important; //efeito de hover quando o checkbox ta ativado
}