.top-bar {
  width: 97.9;
  height: 75px;
  background: #0E1725;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar .logo {
  height: 65px;
}

.auth-container {
  display: flex;
  height: calc(100vh - 75px); 
}

.auth-left, .auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.auth-left {
  background-color: #2C3240;
  color: #F8F8F8;
  position: relative;
}

.auth-right {
  background-color: #F3EED9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.change-link {
  margin-top: 10px;
  font-size: 14px;
}

.custom-button {
  background-color: #D4A017 !important;
  color: #ffffff !important;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #e4970c;
}
