<body>
    <div class="product-form-container">
        <h2>Cadastrar Novo Produto</h2>

        <div class="back-home-button-container">
            <a mat-button routerLink="/admin/dashboard" class="back-home-button">
              <mat-icon>home</mat-icon>
              Voltar ao Dashboard
            </a>
          </div>

        <form #productForm="ngForm" (ngSubmit)="cadastrarProduto()">
            <div class="form-group">
                <label for="nome">Nome do Produto:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="produto.nome" required>
                <div class="error-message" *ngIf="productForm.controls['nome']?.invalid && (productForm.controls['nome']?.dirty || productForm.controls['nome']?.touched)">
                    Nome do produto é obrigatório.
                </div>
            </div>
    
            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="number" id="preco" name="preco" [(ngModel)]="produto.preco" required>
                <div class="error-message" *ngIf="productForm.controls['preco']?.invalid && (productForm.controls['preco']?.dirty || productForm.controls['preco']?.touched)">
                    Preço é obrigatório.
                </div>
            </div>
    
            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>
                        Categorias
                    </mat-label>
                    <mat-select [(ngModel)]="produto.categoria" name="categoria" required>
                        <mat-option *ngFor="let categoria of categorias" [value]="categoria.Id_Categoria">
                            {{ categoria.Nome}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="productForm.controls['categoria']?.invalid && (productForm.controls['categoria']?.dirty || productForm.controls['categoria']?.touched)">
                        A categoria é obrigatória
                    </mat-error>
                </mat-form-field>
            </div>
    
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" name="descricao" [(ngModel)]="produto.descricao" required>
                <div class="error-message" *ngIf="productForm.controls['descricao']?.invalid && (productForm.controls['descricao']?.dirty || productForm.controls['descricao']?.touched)">
                    Descrição é obrigatória.
                </div>
            </div>
    
            <div class="form-group">
                <label for="estoque">Estoque:</label>
                <input type="text" id="estoque" name="estoque" [(ngModel)]="produto.estoque" required>
                <div class="error-message" *ngIf="productForm.controls['estoque']?.invalid && (productForm.controls['estoque']?.dirty || productForm.controls['estoque']?.touched)">
                    Estoque é obrigatória.
                </div>
            </div>
    
    
            <div class="form-group">
                <label for="imagem">Imagem do Produto:</label>
                <input type="file" id="imagem" name="imagem" (change)="onFileSelected($event)" required>
            </div>
    
            <div class="form-group">
                <label for="status">Status do Produto:</label>
                <mat-slide-toggle id="status" name="status" [(ngModel)]="produto.status" required>
                  {{ produto.status ? 'Ativo' : 'Inativo' }}
                </mat-slide-toggle>
            </div>
    
            <div class="form-actions">
                <button type="submit" [disabled]="productForm.invalid">Cadastrar Produto</button>
                <button type="button" (click)="cancelarCadastro()">Cancelar</button>
            </div>
    
            <div *ngIf="mensagemSucesso" class="message sucesss">
                {{ mensagemSucesso }}
            </div>
    
            <div *ngIf="mensagemErro" class="message error">
                {{ mensagemErro }}
            </div>
        </form>
    </div>
</body>