<div *ngIf="produto" class="produto-detalhes-container">
  <button mat-stroked-button color="accent" routerLink="/home" class="voltar-btn">
    ← Voltar
  </button>

  <div class="produto-detalhes-card">
    <h2 class="titulo-produto">{{ produto.Nome_Produto }}</h2> 

    <div class="imagem-produto">
      <img [src]="imagemBaseUrl + produto.Imagem_Url" [alt]="produto.Nome_Produto" />
    </div>

    <div class="info-produto">
      <div class="descricao-container">
        <h4 class="descricao-titulo">Descrição</h4>
        <p class="descricao-texto">{{ produto.Descricao }}</p>
      </div>
      
      <h3 class="preco">{{ produto.Preco | currency:'BRL':'symbol':'1.2-2' }}</h3>

      <div class="acoes">
        <button mat-raised-button color="primary" (click)="adicionarListaDesejo(produto)">
          Adicionar à Lista de Desejo
        </button>
        <button mat-raised-button color="accent" routerLink="/finalizar"> <!--(click)="comprarAgora()"-->
          Comprar Agora
        </button>
      </div>
    </div>
  </div>
</div>
