<div class="status-container">
    <mat-card class="status-card">
      <div class="header" [ngClass]="status">
        <mat-icon *ngIf="status === 'aprovado'">check_circle</mat-icon>
        <mat-icon *ngIf="status === 'pending'">access_time</mat-icon>
        <mat-icon *ngIf="status === 'rejected' || status === 'cancelled'">cancel</mat-icon>
        
        <h1>{{ status | uppercase }}</h1>
      </div>
  
      <mat-card-content>
        <p class="mensagem"></p>
        
        <div *ngIf="id" class="info-pedido">
          <p>Referência do Pedido:</p>
          <span class="pedido-id">{{ id }}</span>
        </div>
        
        <p *ngIf="status === 'pending'">Você receberá um email assim que o pagamento for confirmado.</p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/pedidos">Ver Meus Pedidos</button>
        <button mat-button routerLink="/">Voltar para a Loja</button>
      </mat-card-actions>
    </mat-card>
  </div>