<main class="checkout-page">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step  label="Endereço"> <!--[stepControl]="formEndereco"-->
            <div class="enderecos-wrapper">
                <h3>Endereços Cadastrados</h3>
                <mat-card *ngFor="let endereco of enderecos" class="endereco-card">
                  <p>{{ endereco.rua }}, {{ endereco.logradouro }}, {{ endereco.numero }}</p>
                  <p>{{ endereco.bairro }} - {{ endereco.cidade }} ({{ endereco.estado }})</p>
                  <p>CEP: {{ endereco.cep }}</p>
          
                  <button mat-stroked-button color="primary" *ngIf="!endereco.principal" > <!--(click)="definirComoPrincipal(endereco.id_endereco)"-->
                      Definir como principal
                  </button>
          
                  <span *ngIf="endereco.principal" class="tag-principal">Endereço Principal</span>
          
                  <div class="acoes">
                    <button mat-button >Editar</button> <!--(click)="editarEndereco(endereco)"-->
                  </div>
                </mat-card>
          
                <button mat-raised-button color="accent" > <!--(click)="abrirDialogNovoEndereco()"-->
                  Adicionar novo endereço
                </button>
              </div>

              <div class="stepper-actions">
                <button mat-raised-button color="primary" matStepperNext>
                    Confirmar Endereço e Continuar
                </button>
            </div>
        </mat-step>

        <mat-step  label="Revisão e Frete"> <!--[stepControl]="formComunicacao"-->


            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="primary" matStepperNext>Continuar para Pagamento</button>
            </div>
        </mat-step>

        <mat-step label="Pagamento">


            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="accent" >Finalizar Compra</button> <!--(click)="finalizarCompra()"-->
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</main>