<main class="checkout-page">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="formEndereco" label="Endereço para Entrega">
            <div class="enderecos-wrapper" [formGroup]="formEndereco">
                <h3>Endereços Cadastrados</h3>
                <mat-card 
                    *ngFor="let endereco of enderecos" 
                    class="endereco-card"
                    [class.selecionado]="formEndereco.get('idEnderecoSelecionado')?.value === endereco.idEndereco"> 
                    <p>{{ endereco.logradouro }}, {{ endereco.complemento }}, {{ endereco.numero }}</p>
                    <p>{{ endereco.bairro }} - {{ endereco.cidade }} ({{ endereco.estado }})</p>
                    <p>CEP: {{ endereco.cep }}</p>
            
                    <button 
                        mat-stroked-button 
                        color="primary" 
                        (click)="selecionarEndereco(endereco.idEndereco)"
                        *ngIf="formEndereco.get('idEnderecoSelecionado')?.value !== endereco.idEndereco"> 
                        
                            Selecionar
                    </button>

                    <div class="tags-status">
                        <span *ngIf="endereco.principal" class="tag-padrao">
                            Endereço Padrão
                        </span>
                
                        <span *ngIf="formEndereco.get('idEnderecoSelecionado')?.value === endereco.idEndereco" class="tag-selecionado">
                            Selecionado para a Compra
                        </span>
                    </div>
          
                  <div class="acoes">
                    <button mat-button (click)="editarEndereco(endereco)">
                        Editar
                    </button>
                  </div>
                </mat-card>
          
                <button mat-raised-button color="accent" (click)="abrirDialogNovoEndereco()">
                  Adicionar novo endereço
                </button>
              </div>

              <div class="stepper-actions">
                <button mat-raised-button color="primary" matStepperNext [disabled]="formEndereco.invalid">
                    Confirmar Endereço e Continuar
                </button>
            </div>
        </mat-step>

        <mat-step label="Revisão do pedido" [stepControl]="formRevisao">
            <div class="revisao-wrapper" [formGroup]="formRevisao">
                <h3>Produtos do Pedido</h3>
                <mat-card *ngFor="let produto of produtos">
                    <div class="item-pedido">
                        <img [src]="this.imagemBaseUrl + produto.Imagem_Url" alt="{{ produto.Nome_Produto }}">
                        <div class="detalhes-item">
                            <h4>{{ produto.Nome_Produto }}</h4>
                            <p>Quantidade: {{ produto.Quantidade }}</p>
                            <p>Preço Unitário: {{ produto.Preco | currency:'BRL' }}</p>
                            <button (click)="removerProduto(produto.Id_Produto)" mat-icon-button color="warn">
                                <mat-icon>close</mat-icon><!--Chamar/criar função para remover os itens do carrinho-->
                            </button>
                        </div>
                    </div>
                </mat-card>
                
                <p class="resumo-subtotal">Subtotal: {{ this.valorTotal| currency:'BRL' }}</p>
                
                <h3>Dados de cliente e Contato</h3>
                <mat-card>
                    <div class="dados-cliente">
                        <p>Nome: {{usuario.nome}}</p>
                        <label for="emailInput">Email: </label>
                        <input id="emailInput" type="email" formControlName="email" required><br>
                        
                        <label for="telefoneInput">Telefone: </label>
                        <input id="telefoneInput" type="tel" formControlName="telefone" required>
                    </div>
                </mat-card>

                <button 
                    mat-raised-button 
                    (click)="salvarDadosEditados()" 
                    [disabled]="formRevisao.invalid || formRevisao.pristine">
                    Salvar Alterações
                </button>
            </div>

                <div class="stepper-actions">
                    <button mat-button matStepperPrevious class="return">Voltar</button>
                    <button mat-raised-button color="accent" (click)="continuarParaPagamento()">
                        Continuar para Pagamento
                    </button>
                </div>
        </mat-step>

        <mat-step [stepControl]="formPagamento" label="Pagamento">
            <div class="pagamento-wrapper">
                <h3>Selecione o Método de Pagamento</h3>
                
                <mat-card class="metodo-card" 
                [class.selecionado]="metodoSelecionado === 'cartao_credito'"
                (click)="selecionarMetodo('cartao_credito')" (click)="abrirDialogCartao()">

                    <h4>Cartão de Crédito</h4>
                    <p>Pague em até 12x</p>
                    <div class="card-icons">
                        <mat-icon>credit_card</mat-icon>
                    </div>
                </mat-card>

                <mat-card class="metodo-card" 
                [class.selecionado]="metodoSelecionado === 'pix'"
                (click)="selecionarMetodo('pix')">

                    <h4>PIX</h4>
                    <p>Confirmação imediata</p>
                    <div class="card-icons">
                        <mat-icon>
                            qr_code_2
                        </mat-icon>
                    </div>
                </mat-card>

                <mat-card class="metodo-card" 
                [class.selecionado]="metodoSelecionado === 'boleto'"
                (click)="selecionarMetodo('boleto')">

                <h4>Boleto</h4>
                <p>Confirmação em até 3 dias</p>
                <div class="card-icons">
                    <mat-icon >
                        receipt
                    </mat-icon>
                </div>
                </mat-card>

                <div class="form-cartao-container" *ngIf="metodoSelecionado === 'cartao_credito'">
                    <p class="aviso-cartao">Detalhes do cartão serão inseridos em uma próxima etapa.</p>
                </div>
            </div>

            <div class="stepper-actions">
                <button mat-button matStepperPrevious class="return">Voltar</button>
                <button mat-raised-button color="primary" (click)="iniciarPagamentoTeste()"
                matStepperNext [disabled]="formPagamento.invalid">
                    Finalizar Compra
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</main>