<main class="checkout-page">
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="formEndereco" label="Endereço para Entrega"> <!---->
            <div class="enderecos-wrapper" [formGroup]="formEndereco">
                <h3>Endereços Cadastrados</h3>
                <mat-card 
                *ngFor="let endereco of enderecos" 
                class="endereco-card"
                [class.selecionado]="formEndereco.get('idEnderecoSelecionado')?.value === endereco.id_endereco"> 
                  <p>{{ endereco.rua }}, {{ endereco.logradouro }}, {{ endereco.numero }}</p>
                  <p>{{ endereco.bairro }} - {{ endereco.cidade }} ({{ endereco.estado }})</p>
                  <p>CEP: {{ endereco.cep }}</p>
          
                  <button 
                    mat-stroked-button 
                    color="primary" 
                    (click)="selecionarEndereco(endereco.id_endereco)"
                    *ngIf="formEndereco.get('idEnderecoSelecionado')?.value !== endereco.id_endereco"> 
                    
                        Selecionar
                </button>

                <div class="tags-status">
                    <span *ngIf="endereco.principal" class="tag-padrao">Endereço Padrão</span>
            
                    <span *ngIf="formEndereco.get('idEnderecoSelecionado')?.value === endereco.id_endereco" class="tag-selecionado">
                        Endereço Selecionado para Compra
                    </span>
                </div>
          
                  <div class="acoes">
                    <button mat-button (click)="editarEndereco(endereco)">Editar</button> <!---->
                  </div>
                </mat-card>
          
                <button mat-raised-button color="accent" (click)="abrirDialogNovoEndereco()"> <!---->
                  Adicionar novo endereço
                </button>
              </div>

              <div class="stepper-actions">
                <button 
                mat-raised-button 
                color="primary" 
                matStepperNext
                [disabled]="formEndereco.invalid">

                    Confirmar Endereço e Continuar
                </button>
            </div>
        </mat-step>

        <mat-step  label="Revisão e Frete"> <!--[stepControl]="formComunicacao"-->


            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="primary" matStepperNext>Continuar para Pagamento</button>
            </div>
        </mat-step>

        <mat-step label="Pagamento">


            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-raised-button color="accent" >Finalizar Compra</button> <!--(click)="finalizarCompra()"-->
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</main>