<div [ngClass]="produtos.length === 0 ? 'bloco-claro' : 'bloco-escuro'" class="voltar-home">
  <button mat-stroked-button routerLink="/home">
    ← Voltar para a Home
  </button>
</div>


<div class="lista-desejo-container" *ngIf="produtos.length > 0; else vazio">
  <h2>Sua Lista de Desejos</h2>

  <div class="acoes-globais">
    <button mat-raised-button color="primary"
       
      [disabled]="selecionados.length === 0" 
      class="botao-carrinho" (click)="adicionarSelecionadosAoCarrinho()"> <!---->
      Comprar Selecionados
    </button>
  </div>

  <div class="grid-lista">
    <div class="card-produtos" *ngFor="let produto of produtos">
      <mat-checkbox [(ngModel)]="produto.selecionado"> <!-- // -->
      </mat-checkbox>

      <img [src]="imagemBaseUrl + produto.Imagem_Url" alt="{{ produto.Nome_Produto }}" />
      <h3>{{ produto.Nome_Produto }}</h3>
      <p class="preco">{{ produto.Preco | currency:'BRL' }}</p>

      <div class="acoes">
        <button mat-stroked-button color="accent" (click)="removeProduto(produto.Id_Produto)"> <!---->
          Remover
        </button>
        <button mat-raised-button color="primary" (click)="comprarAgora(produto)"> <!---->
          Comprar Agora
        </button>
      </div>

    </div>
  </div>
  
</div>
  
<ng-template #vazio>
  <div class="lista-vazia">
    <h2>Sua lista de desejos está vazia 😔</h2>
    <button mat-raised-button color="accent" routerLink="/home">Ver Produtos</button>
  </div>
</ng-template>
