<header>
    <p>img volta para a pagina principal</p>

    <p>Barra de pesquisa e simbolo do Search</p>

    <nav>
        <a href="">CEP? Onde tu define seu endereço ou deixa isso pra hora da compra? ou ate para a parte de configuração da conta?</a><br>
        <a href="">Categorias de produtos</a><br>
        <a href="">Ofertas</a><br>
        <a href="">Cupon</a><br>
        <a href="">Crie sua Conta</a><br>
        <a href="">Entre</a><br>
        <a href="">Compras - exibe seu historico de comprar ou compras que ainda não foram entregues</a><br>
        <a href="">Carrinho - Mostra os itens marcados como lista de desejo</a>
    </nav>
</header>


<main>
    <aside>
        <p>area onde pode ter menus interativos?</p>
    </aside>

    <article>
        <p>categorias</p>
    </article>
</main>


<footer>

</footer>
