<mat-toolbar color="primary" class="toolbar">
    <span class="logo" routerLink="/">
      <img src="NeziaraLogo.png" alt="">
    </span>
  
    <!-- Barra de pesquisa -->
    <span class="spacer"></span>
    <mat-form-field appearance="outline" class="search-bar">
      <input matInput placeholder="Buscar produtos...">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
</mat-toolbar>
  
  <nav class="sub-nav">
    <button mat-button [matMenuTriggerFor]="menuCategorias">Categorias</button>
    <mat-menu #menuCategorias="matMenu">
      <button mat-menu-item *ngFor="let categoria of categorias">{{ categoria }}</button>
    </mat-menu>
    <button mat-button routerLink="/ofertas">Ofertas</button>

      <div *ngIf="!estaLogadoAdmin && !estaLogadoCliente">
        <button mat-button routerLink="/signup">Criar Conta</button>
        <button mat-button routerLink="/login">Entrar</button>
        <button mat-button routerLink="/admin/login">Entrar Admin</button>
      </div>

      <div *ngIf="estaLogadoCliente && !estaLogadoAdmin">
        <button mat-button routerLink="/compras">Compras</button>
        <button mat-button routerLink="/listadesejo">Lista de Desej-os</button>
        <button mat-button routerLink="/perfil" *ngIf="authService.estaLogado()">Perfil</button>
      </div>

      <div *ngIf="!estaLogadoCliente && estaLogadoAdmin">
        <button mat-button routerLink="/admin/dashboard">Dashboard</button>
        <button mat-button routerLink="/admin/signup">Cadastrar Novo Admin</button>
        <button mat-button routerLink="/admin/perfil">Perfil Admin</button>
      </div>

      <button *ngIf="estaLogadoAdmin || estaLogadoCliente" (click)="logout()" class="botao-logout">Sair</button>
  </nav>
  
  
  <!-- MAIN -->
  <main class="content-layout">
  
    <!-- ASIDE -->
    <aside class="aside-menu">
      <h3>Filtros ou Menus Interativos</h3>
      <p>Ex: por categoria, faixa de preço, avaliação...</p>
    </aside>
  
    <!-- CATEGORIAS OU PRODUTOS -->
    <section class="product-display">
      <h2>Categorias em destaque</h2>
      <!-- Aqui você pode exibir categorias ou produtos -->
      <div class="grid">
        <div class="product-card" *ngFor="let produto of produtos">
          <img [src]="produto.imagem" alt="Produto" />
          <h3>{{ produto.nome }}</h3>
          <h3 class="preco">{{ produto.preco | currency:'BRL':'symbol':'1.2-2' }}</h3>
          <button mat-raised-button color="accent" [routerLink]="['/produto', produto.id]">
            Ver mais
          </button>          
        </div>
      </div>
    </section>
  
  </main>
  
  <!-- FOOTER -->
  <footer class="footer">
    <p>&copy; 2025 Neziara. Todos os direitos reservados.</p>
  </footer>
  