<body>
  <div class="dashboard-container">
    <h2>Dashboard Administrativo</h2>
  
    <div class="back-home-button-container">
      <a mat-button routerLink="/home" class="back-home-button">
        <mat-icon>home</mat-icon>
        Voltar ao Home
      </a>
    </div>
  
    <section class="dashboard-section">
      <div class="section-header">
        <mat-icon>inventory_2</mat-icon>
        <h3>Gerenciamento de Produtos</h3>
      </div>
      <p>Adicione, edite e remova produtos da sua loja.</p>
      <div class="section-actions">
        <button mat-flat-button color="accent" routerLink="/admin/gerenciar-produtos">
          Ver Produtos
        </button>
        <button mat-button routerLink="/admin/gerenciar-produtos/adicionar">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar Novo Produto
        </button>
        <button mat-button (click)="openCategoriaDialog()">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar Categoria
        </button>
      </div>
    </section>
  
    <section class="dashboard-section">
      <div class="section-header">
        <mat-icon>shopping_bag</mat-icon>
        <h3>Gerenciamento de Pedidos</h3>
      </div>
      <p>Visualize e gerencie todos os pedidos dos clientes.</p>
      <div class="section-actions">
        <button mat-flat-button color="accent" routerLink="/admin/gerenciar-pedidos">
          Ver Pedidos
        </button>
      </div>
    </section>
  
    <section class="dashboard-section">
      <div class="section-header">
        <mat-icon>group</mat-icon>
        <h3>Gerenciamento de Usuários</h3>
      </div>
      <p>Visualize e gerencie as contas de clientes e administradores.</p>
      <div class="section-actions">
        <button mat-flat-button color="accent" routerLink="/admin/gerenciar-usuarios">
          Ver Usuários
        </button>
      </div>
    </section>
  
    <section class="dashboard-section">
      <div class="section-header">
        <mat-icon>analytics</mat-icon>
        <h3>Relatórios e Análises</h3>
      </div>
      <p>Acesse relatórios de vendas e métricas da loja.</p>
      <div class="section-actions">
        <button mat-flat-button color="accent" routerLink="/admin/relatorios">
          Ver Relatórios
        </button>
      </div>
    </section>
  </div>
</body>